In [2]:
import pandas as pd
import os

data = pd.read_csv('../data/FlightData.csv')

In [3]:
import random
import csv

input_file_path = '../data/FlightData.csv'
reduced_flight_data_path = '../data/ReducedFlightData.csv'

os.remove(reduced_flight_data_path)

# create a file named 'ReduceFlightData.csv' 
os.makedirs(os.path.dirname(reduced_flight_data_path), exist_ok=True)


rows_to_copy = 6000

with open(input_file_path, 'r') as input_file, open(reduced_flight_data_path, 'w', newline='') as output_file:
    csv_reader = csv.reader(input_file)
    csv_writer = csv.writer(output_file)

    header = next(csv_reader)
    csv_writer.writerow(header)

    all_rows = list(csv_reader)


    rows_to_copy = min(rows_to_copy, len(all_rows))

    random_rows = random.sample(all_rows, rows_to_copy)
    for row in random_rows:
        csv_writer.writerow(row)

print(f'Copied {rows_to_copy} random rows from {input_file_path} to {reduced_flight_data_path}')

Copied 6000 random rows from ../data/FlightData.csv to ../data/ReducedFlightData.csv

In [4]:
data = pd.read_csv('../data/ReducedFlightData.csv')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   from_airport_code                6000 non-null   object
 1   from_country                     6000 non-null   object
 2   dest_airport_code                6000 non-null   object
 3   dest_country                     6000 non-null   object
 4   aircraft_type                    5929 non-null   object
 5   airline_number                   6000 non-null   object
 6   airline_name                     6000 non-null   object
 7   flight_number                    6000 non-null   object
 8   departure_time                   6000 non-null   object
 9   arrival_time                     6000 non-null   object
 10  duration                         6000 non-null   int64
 11  stops                            6000 non-null   int64
 12  price                            5990 non-null   float64
 13  currency                         6000 non-null   object
 14  co2_emissions                    5969 non-null   float64
 15  avg_co2_emission_for_this_route  5443 non-null   float64
 16  co2_percentage                   5443 non-null   object
 17  scan_date                        6000 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 843.9+ KB

In [5]:
# Handle missing values on the 'aircraft_type' column

# Method 1: Delete rows with missing values on this column

data = data.dropna(subset=['aircraft_type'])

In [6]:
# Handle missing values on the 'price' column

# Method 1: Delete rows with missing values on this column
data = data.dropna(subset=['price'])

In [7]:
# Handle missing values on the 'co2_emissions' column

# Method 1: Delete rows with missing values on this column
data = data.dropna(subset=['co2_emissions'])

In [8]:
# Handle missing values on the 'avg_co2_emission_for_this_route' column

# Method 1: Delete rows with missing values on this column
data = data.dropna(subset=['avg_co2_emission_for_this_route'])

In [9]:
# Handle missing values on the 'co2_percentage' column

# Method 1: Delete rows with missing values on this column
data = data.dropna(subset=['co2_percentage'])

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5347 entries, 0 to 5999
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   from_airport_code                5347 non-null   object
 1   from_country                     5347 non-null   object
 2   dest_airport_code                5347 non-null   object
 3   dest_country                     5347 non-null   object
 4   aircraft_type                    5347 non-null   object
 5   airline_number                   5347 non-null   object
 6   airline_name                     5347 non-null   object
 7   flight_number                    5347 non-null   object
 8   departure_time                   5347 non-null   object
 9   arrival_time                     5347 non-null   object
 10  duration                         5347 non-null   int64
 11  stops                            5347 non-null   int64
 12  price                            5347 non-null   float64
 13  currency                         5347 non-null   object
 14  co2_emissions                    5347 non-null   float64
 15  avg_co2_emission_for_this_route  5347 non-null   float64
 16  co2_percentage                   5347 non-null   object
 17  scan_date                        5347 non-null   object
dtypes: float64(3), int64(2), object(13)
memory usage: 793.7+ KB

In [11]:

# remove the reduced flight data file
os.remove(reduced_flight_data_path)

# create a new csv file with the cleaned data
data.to_csv('../data/NoNullFlightData.csv', index=False)

In [16]:
data.head()

,from_airport_code,from_country,dest_airport_code,dest_country,aircraft_type,airline_number,airline_name,flight_number,departure_time,arrival_time,duration,stops,price,currency,co2_emissions,avg_co2_emission_for_this_route,co2_percentage,scan_date
0,FRA,Germany,CGK,Indonesia,Airbus A380|Airbus A330,multi,[Singapore Airlines| Garuda Indonesia],SQ25|SQ25,2022-07-29 12:30:00,2022-07-30 19:40:00,1570,1,1774.0,USD,1360000.0,1212000.0,12%,2022-04-29 17:52:59
1,SCL,Chile,DUB,Dublin,Boeing 787|Airbus A330|Airbus A320,multi,[LATAM| Iberia| Aer Lingus],LA630|LA630|LA630,2022-08-27 06:55:00,2022-08-28 12:20:00,1465,2,2747.0,USD,1369000.0,1280000.0,6%,2022-04-29 17:52:59
2,SCL,Chile,ATL,United States,Boeing 787|Boeing 767|Embraer 175,multi,[LATAM| United],LA2376|LA2376|LA2376,2022-05-15 17:50:00,2022-05-16 12:36:00,1126,2,968.0,USD,978000.0,827000.0,18%,2022-04-29 17:52:59
3,MUC,Germany,DEL,India,Airbus A319|Boeing 787,BA,[British Airways],BA947|BA947,2022-05-07 07:15:00,2022-05-07 23:30:00,765,1,659.0,USD,792000.0,633000.0,24%,2022-04-29 17:52:59
4,SYD,Australia,SFO,United States,Boeing 787|Canadair RJ 900,AC,[Air Canada],AC34|AC34,2022-07-28 09:30:00,2022-07-28 19:05:00,1595,1,786.0,USD,1310000.0,1250000.0,4%,2022-04-29 17:52:59